name: Sample CI
on: [ push, pull_request ]

permissions:
  contents: read

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
      
      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c  # v6.1.0
        with:
          go-version: '1.23.x'
          cache: true
          
      - name: Install Go dependencies
        run: go mod tidy
        working-directory: ./functions/itsmhelper
        
      - name: Build Go functions
        run: go build
        working-directory: ./functions/itsmhelper
        
      - name: Test Go functions
        run: go test ./...
        working-directory: ./functions/itsmhelper
