name: Sample CI
on: [ push, pull_request ]

permissions:
  contents: read

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      
      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c  # v6.1.0
        with:
          go-version: '1.25.x'
          cache: true
          
      - name: Install Go dependencies
        run: go mod tidy
        working-directory: ./functions/itsmhelper
        
      - name: Build Go functions
        run: go build
        working-directory: ./functions/itsmhelper
        
      - name: Test Go functions
        run: go test ./...
        working-directory: ./functions/itsmhelper
